:root{
    --dark: #769cb5;
    --white:#ffffff;
    --gold:#baab8f;
    --black:black;
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body{
    font-family: var(--font);
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    line-height:1.3;
}

header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1%;
    background-color: var(--dark);      
}


header h1 {
    display:inline-block;
    font-size: 200%;
    background-color:var(--gold);
    color:var(--white);
}


header nav{
    float:right;
    margin-right:5%;   
}

header nav ul li{
    display:inline-block;
    font-size:120%;
    margin-left:25px;   
}

header nav ul li a{
    color:var(--white);
}


.top {
    height: 200px;
    width: 100%;
    background-image: url("../images/header.JPG");
    background-size: cover;
    background-position: center; 
}

.top h2{
    color:var(--black);
    font-size:200%;
    background-color:var(--white);
    position:absolute;
    right:20px;
    top:195px; 
}

section{
 padding:2%;
}

section h2{
    font-size:150%;
    margin-bottom:1%;
}

main{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
 
} 


.projects{
   
    flex: 1 0 400px;
    height:200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px; 
} 


.projects .grow{
    flex: 10 0 400px;
} 

#p1{
    background-image: url("../images/header.JPG");
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
    .top{
        flex-direction: column;
        height:100px;
    }
    .top h2{
      top:120px;
  }
  
  }